<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h2>Admin Dashboard</h2>
        <li><a href="{{ url_for('add_user') }}" class="btn">Add New User</a></li>
        <li><a href="{{ url_for('view_customer') }}" class="btn">View Customer Details</a></li>
        <li><a href="{{ url_for('view_salesperson_map') }}" class="btn">View Salesperson Map</a></li>
	<li><a href="{{ url_for('monitor_salesperson') }}" class="btn">Monitor Salesperson Location</a></li>
     

    </div>
</body>
</html>
