<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles5.css') }}">
</head>
<body>
    <div class="container">
        <h2>Delete Employee</h2>
        <form action="/delete_employee" method="POST">
            <label for="employee_id">Employee ID:</label>
            <input type="text" id="employee_id" name="employee_id" required>
            <button type="submit">Delete Employee</button>
        </form>
    </div>
</body>
</html>
