body{
    background-color: cadetblue;
    height:100vh;
    width:100vw;
    
}

.cen{
    min-height:300px;
    width:500px;
    background-color: azure;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;

}

.cen h1{
    padding-left: 100px;
}

.btn1 button{
    align-items: center;
    display: flex;
    background-color: blueviolet;
    border: none;
    color: whitesmoke;
    width: 200px;
    height:30px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 120px;
    cursor: pointer;
    margin-bottom: 20px;
}