.out6{
    width:300px;
    min-height: 300px;
    background-color: rgb(89, 79, 229);
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.out6 h3{
    color: aliceblue;
}

.out6 select{
    width:200px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.inscol{
    margin-top: 10px;
}
.inscol label{
    font-size: 19px;
    color: azure;
    align-items: center;
    justify-content: center;
    display: flex;
}

.inscol input{
    margin-top: 10px;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    border: none;
    display: block;
    justify-content: center;
    outline: none;
    cursor: pointer;
    text-align: center;
    
}

.insbtn{
    margin-top: 20px;
    width: 180px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(10, 93, 10);
    color: aliceblue;
    cursor: pointer;
}